@charset "UTF-8";

/*유저 공지사항*/
#unotice_reader_form *{
	margin: 0px;
	padding: 0px;
	border: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
	cursor: default;
	vertical-align: top;
	font-size: 13pt;
	color: #000;
	background-color: #fff;
}

#unotice_reader_form{
	width: 1400px;
	height: auto;
	transform: translate(0px, 10px);
}

#unotice_reader_form > #unotice_header_frm{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 40pt;
}

#unotice_reader_form > #unotice_search_frm{
	width: 100%;
	height: 100px;
	border-top: 5px solid #0b9bc9;
	border-bottom: 5px solid #0b9bc9;
	position: relative;
}

#unotice_reader_form > #unotice_search_frm > #unotice_total{
	width: 150px;
	height: 50%;
	line-height: 41px;
	border: 2px solid #13669b;
	position: absolute;
	top: 50%;
	left: 1%;
	transform: translate(-0%, -50%);
	text-align: center;
}

#unotice_reader_form > #unotice_search_frm > #unotice_total > span{
	font-weight: bold;
	color: #13669b;
}

#unotice_reader_form > #unotice_search_frm > #unotice_sort{
	width: 150px;
	height: 50%;
	padding: 10px;
	border: 2px solid #13669b;
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -50%);
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("./image/notice_down.png");
	background-repeat: no-repeat;
	background-position: 90% center;
}

#unotice_reader_form > #unotice_search_frm > #unotice_search{
	width: 300px;
	height: 50%;
	border: 2px solid #13669b;
	position: absolute;
	top: 50%;
	left: 99%;
	transform: translate(-100%, -50%);
	display: flex;
}

#unotice_reader_form > #unotice_search_frm > #unotice_search > #unotice_findstr{
	flex: 1;
	padding: 5px;
}

#unotice_reader_form > #unotice_search_frm > #unotice_search > #unotice_findbtn{
	flex: 1;
	background-image: url("./image/notice_search.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#unotice_reader_form > #unotice_board_frm{
	width: 100%;
	height: 600px;
	padding: 25px 0px;
}

#unotice_reader_form > #unotice_board_frm > .unotice_item, .unotice_items{
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #aaa;
	display: flex;
}

#unotice_reader_form > #unotice_board_frm > .unotice_items{
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #aaa;
	display: flex;
}

#unotice_reader_form > #unotice_board_frm > .unotice_item > span{
	flex: 1;
	line-height: 48px;
	text-align: center;
}

#unotice_reader_form > #unotice_board_frm > .unotice_items > span{
	flex: 1;
	line-height: 48px;
	text-align: center;
}

#unotice_reader_form > #unotice_board_frm > .unotice_items > span:nth-child(1){
	color: #13669b;
	font-weight: bold;
}

#unotice_reader_form > #unotice_board_frm > .unotice_item > span:nth-child(2){
	flex: 5;
}

#unotice_reader_form > #unotice_board_frm > .unotice_items > span:nth-child(2){
	flex: 5;
}

#unotice_reader_form > #unotice_board_frm > .unotice_item > span:nth-child(3){
	flex: 2;
}

#unotice_reader_form > #unotice_board_frm > .unotice_items > span:nth-child(3){
	flex: 2;
}

#unotice_reader_form > #unotice_footer_frm{
	width: 100%;
	height: 100px;
	position: relative;
}

#unotice_reader_form > #unotice_footer_frm > #unotice_previous{
	width: 100px;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	display: flex;
}

#unotice_reader_form > #unotice_footer_frm > #unotice_previous > input:nth-child(1){
	flex: 1;
	background-image: url("./image/notice_left2.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#unotice_reader_form > #unotice_footer_frm > #unotice_previous > input:nth-child(2){
	flex: 1;
	background-image: url("./image/notice_left1.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#unotice_reader_form > #unotice_footer_frm > #unotice_center{
	width: auto;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#unotice_reader_form > #unotice_footer_frm > #unotice_center > input{
	width: 50px;
	height: 100%;
	float: left;
}

#unotice_reader_form > #unotice_footer_frm > #unotice_next{
	width: 100px;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	display: flex;
}

#unotice_reader_form > #unotice_footer_frm > #unotice_next > input:nth-child(1){
	flex: 1;
	background-image: url("./image/notice_right1.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#unotice_reader_form > #unotice_footer_frm > #unotice_next > input:nth-child(2){
	flex: 1;
	background-image: url("./image/notice_right2.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#unotice_reader_form > #unotice_footer_frm > #unotice_center > input:hover{
	color: #13669b;
}








#unotice_view_form *{
	margin: 0px;
	padding: 0px;
	border: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
	cursor: default;
	vertical-align: top;
	font-size: 13pt;
	color: #000;
	background-color: #fff;
}

#unotice_view_form{
	width: 1400px;
	height: auto;
}

#unotice_view_form > #unotice_header_frm{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: left;
	font-size: 40pt;
}

#unotice_view_form > #unotice_view_frm{
	width: 100%;
	height: auto;
}

#unotice_view_form > #unotice_view_frm > #unotice_section1{
	width: 100%;
	height: 60px;
	border-top: 2px solid #0b9bc9;
	border-bottom: 0.5px solid #0b9bc9;
	position: relative;
}

#unotice_view_form > #unotice_view_frm > #unotice_section2{
	width: 100%;
	height: 60px;
	border-top: 0.5px solid #0b9bc9;
	border-bottom: 2px solid #0b9bc9;
	position: relative;
}

#unotice_view_form > #unotice_view_frm > #unotice_section3{
	width: 100%;
	height: auto;
	padding: 5px;
	margin: 25px 0px;
	border-top: 2px solid rgba(19, 102, 155, 0.2);
	border-bottom: 2px solid rgba(19, 102, 155, 0.2);
}

#unotice_view_form > #unotice_view_frm > #unotice_section1 > #unotice_title{
	width: auto;
	height: 50%;
	line-height: 28.55px;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-0%, -50%);
	font-size: 18pt;
}

#unotice_view_form > #unotice_view_frm > #unotice_section2 > #unotice_information{
	width: auto;
	height: 50%;
	line-height: 28.55px;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-0%, -50%);
}

#unotice_view_form > #unotice_view_frm > #unotice_section2 > #unotice_information > span{
	color: #0b9bc9;
	font-weight: bold;
}

#unotice_view_form > #unotice_view_frm > #unotice_section2 > #unotice_information > #unotice_width{
	margin: 0px 100px;
}

#unotice_view_form > #unotice_footer_frm{
	width: 100%;
	height: 100px;
	position: relative;
}

#unotice_view_form > #unotice_footer_frm > #unotice_back{
	width: 100px;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	background-color: #666572;
}
/*유저 공지사항*/













/*관리자 공지사항*/
#mnotice_reader_form *{
	margin: 0px;
	padding: 0px;
	border: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
	cursor: default;
	vertical-align: top;
	font-size: 13pt;
	color: #000;
	background-color: #fff;
}

#mnotice_reader_form{
	width: 1100px;
	height: auto;
}

#mnotice_reader_form > #mnotice_header_frm{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 40pt;
}

#mnotice_reader_form > #mnotice_search_frm{
	width: 100%;
	height: 100px;
	border-top: 5px solid #0b9bc9;
	border-bottom: 5px solid #0b9bc9;
	position: relative;
}

#mnotice_reader_form > #mnotice_search_frm > #mnotice_total{
	width: 150px;
	height: 50%;
	line-height: 41px;
	border: 2px solid #13669b;
	position: absolute;
	top: 50%;
	left: 1%;
	transform: translate(-0%, -50%);
	text-align: center;
}

#mnotice_reader_form > #mnotice_search_frm > #mnotice_total > span{
	font-weight: bold;
	color: #13669b;
}

#mnotice_reader_form > #mnotice_search_frm > #mnotice_sort{
	width: 150px;
	height: 50%;
	padding: 10px;
	border: 2px solid #13669b;
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("./image/notice_down.png");
	background-repeat: no-repeat;
	background-position: 90% center;
}

#mnotice_reader_form > #mnotice_search_frm > #mnotice_search{
	width: 300px;
	height: 50%;
	border: 2px solid #13669b;
	position: absolute;
	top: 50%;
	left: 99%;
	transform: translate(-100%, -50%);
	display: flex;
}

#mnotice_reader_form > #mnotice_search_frm > #mnotice_search > #mnotice_findstr{
	flex: 1;
	padding: 5px;
}

#mnotice_reader_form > #mnotice_search_frm > #mnotice_search > #mnotice_findbtn{
	flex: 1;
	background-image: url("./image/notice_search.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#mnotice_reader_form > #mnotice_board_frm{
	width: 100%;
	height: 600px;
	padding: 25px 0px;
}

#mnotice_reader_form > #mnotice_board_frm > .mnotice_item, .mnotice_items{
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #aaa;
	display: flex;
}

#mnotice_reader_form > #mnotice_board_frm > .mnotice_items{
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #aaa;
	display: flex;
}

#mnotice_reader_form > #mnotice_board_frm > .mnotice_item > span{
	flex: 1;
	line-height: 48px;
	text-align: center;
}

#mnotice_reader_form > #mnotice_board_frm > .mnotice_items > span{
	flex: 1;
	line-height: 48px;
	text-align: center;
}

#mnotice_reader_form > #mnotice_board_frm > .mnotice_items > span:nth-child(1){
	color: #13669b;
	font-weight: bold;
}

#mnotice_reader_form > #mnotice_board_frm > .mnotice_item > span:nth-child(2){
	flex: 5;
}

#mnotice_reader_form > #mnotice_board_frm > .mnotice_items > span:nth-child(2){
	flex: 5;
}

#mnotice_reader_form > #mnotice_board_frm > .mnotice_item > span:nth-child(3){
	flex: 2;
}

#mnotice_reader_form > #mnotice_board_frm > .mnotice_items > span:nth-child(3){
	flex: 2;
	font-size: 10pt;
}

#mnotice_reader_form > #mnotice_footer_frm{
	width: 100%;
	height: 100px;
	position: relative;
}

#mnotice_reader_form > #mnotice_footer_frm > #mnotice_previous{
	width: 100px;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	display: flex;
}

#mnotice_reader_form > #mnotice_footer_frm > #mnotice_previous > input:nth-child(1){
	flex: 1;
	background-image: url("./image/notice_left2.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#mnotice_reader_form > #mnotice_footer_frm > #mnotice_previous > input:nth-child(2){
	flex: 1;
	background-image: url("./image/notice_left1.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#mnotice_reader_form > #mnotice_footer_frm > #mnotice_center{
	width: auto;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#mnotice_reader_form > #mnotice_footer_frm > #mnotice_center > input{
	width: 50px;
	height: 100%;
	float: left;
}

#mnotice_reader_form > #mnotice_footer_frm > #mnotice_next{
	width: 100px;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	display: flex;
}

#mnotice_reader_form > #mnotice_footer_frm > #mnotice_next > input:nth-child(1){
	flex: 1;
	background-image: url("./image/notice_right1.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#mnotice_reader_form > #mnotice_footer_frm > #mnotice_next > input:nth-child(2){
	flex: 1;
	background-image: url("./image/notice_right2.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#mnotice_reader_form > #mnotice_create{
	width: 100%;
	height: 50px;
	position: relative;
}

#mnotice_reader_form > #mnotice_create > #mnotice_createBtn{
	width: 100px;
	height: 50px;
	position: absolute;
	top: 0%;
	left: 100%;
	transform: translate(-100%, -0%);
	background-color: rgba(170, 170, 170, 0.5);
}
#mnotice_reader_form > #mnotice_footer_frm > #mnotice_center > input:hover{
	color: #13669b;
}








#mnotice_create_form *{
	margin: 0px;
	padding: 0px;
	border: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
	cursor: default;
	vertical-align: top;
	font-size: 13pt;
	color: #000;
	background-color: #fff;
}

#mnotice_create_form{
	width: 1100px;
	height: auto;
	position: relative;
	background-color: rgba(170, 170, 170, 0.5);
}

#mnotice_create_form > #mnotice_header_frm{
	width: 1000px;
	height: 100px;
	margin: 0px auto;
	position: relative;
	background-color: rgba(170, 170, 170, 0.0);
}

#mnotice_create_form > #mnotice_header_frm > #mnotice_title1{
	width: 100px;
	height: 50%;
	line-height: 50px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-0%, -50%);
	font-size: 20pt;
	background-color: rgba(170, 170, 170, 1);
}

#mnotice_create_form > #mnotice_header_frm > #mnotice_title2{
	width: 800px;
	height: 50%;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-100%, -50%);
}

#mnotice_create_form > #mnotice_section_frm{
	width: 1000px;
	height: auto;
	margin: 0px auto;
	background-color: rgba(170, 170, 170, 0.0);
}

#mnotice_create_form > #mnotice_footer_frm{
	width: 1000px;
	height: 100px;
	margin: 25px auto 0px auto;
	position: relative;
	border-top: 2px solid #aaa;
	background-color: rgba(170, 170, 170, 0.0);
}

#mnotice_create_form > #mnotice_footer_frm > #mnotice_save{
	width: 100px;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 85%;
	transform: translate(-100%, -50%);
	background-color: rgba(170, 170, 170, 1);
}

#mnotice_create_form > #mnotice_footer_frm > #mnotice_back{
	width: 100px;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-100%, -50%);
	background-color: rgba(170, 170, 170, 1);
}

#mnotice_create_form > #mnotice_create_ok{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: rgba(0, 0, 0, 0.5);
}

#mnotice_create_form > #mnotice_create_ok > #ask{
	width: 200px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.0);
}

#mnotice_create_form > #mnotice_create_ok > #create_yes{
	width: 100px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%);
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.0);
}

#mnotice_create_form > #mnotice_create_ok > #create_no{
	width: 100px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.0);
}








#mnotice_update_form *{
	margin: 0px;
	padding: 0px;
	border: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
	cursor: default;
	vertical-align: top;
	font-size: 13pt;
	color: #000;
	background-color: #fff;
}

#mnotice_update_form{
	width: 1100px;
	height: auto;
	position: absolute;
	background-color: rgba(170, 170, 170, 0.5);
}

#mnotice_update_form > #mnotice_header_frm{
	width: 1000px;
	height: 100px;
	margin: 0px auto;
	position: relative;
	background-color: rgba(170, 170, 170, 0.0);
}

#mnotice_update_form > #mnotice_header_frm > #mnotice_title1{
	width: 100px;
	height: 50%;
	line-height: 50px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-0%, -50%);
	font-size: 20pt;
	background-color: rgba(170, 170, 170, 1);
}

#mnotice_update_form > #mnotice_header_frm > #mnotice_title2{
	width: 800px;
	height: 50%;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-100%, -50%);
}

#mnotice_update_form > #mnotice_section_frm{
	width: 1000px;
	height: auto;
	margin: 0px auto;
	background-color: rgba(170, 170, 170, 0.0);
}

#mnotice_update_form > #mnotice_footer_frm{
	width: 1000px;
	height: 100px;
	margin: 25px auto 0px auto;
	position: relative;
	border-top: 2px solid #aaa;
	background-color: rgba(170, 170, 170, 0.0);
}

#mnotice_update_form > #mnotice_footer_frm > #mnotice_update{
	width: 100px;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-100%, -50%);
	background-color: rgba(170, 170, 170, 1);
}

#mnotice_update_form > #mnotice_footer_frm > #mnotice_delete{
	width: 100px;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 85%;
	transform: translate(-100%, -50%);
	background-color: rgba(170, 170, 170, 1);
}

#mnotice_update_form > #mnotice_footer_frm > #mnotice_back{
	width: 100px;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-100%, -50%);
	background-color: rgba(170, 170, 170, 1);
}

#mnotice_update_form > #mnotice_update_ok{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: rgba(0, 0, 0, 0.5);
}

#mnotice_update_form > #mnotice_update_ok > #ask{
	width: 200px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.0);
}

#mnotice_update_form > #mnotice_update_ok > #update_yes{
	width: 100px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%);
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.0);
}

#mnotice_update_form > #mnotice_update_ok > #update_no{
	width: 100px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.0);
}

#mnotice_update_form > #mnotice_delete_ok{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: rgba(0, 0, 0, 0.5);
}

#mnotice_update_form > #mnotice_delete_ok > #ask{
	width: 200px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.0);
}

#mnotice_update_form > #mnotice_delete_ok > #delete_yes{
	width: 100px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%);
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.0);
}

#mnotice_update_form > #mnotice_delete_ok > #delete_no{
	width: 100px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.0);
}
/*관리자 공지사항*/