@charset "UTF-8";

#header {
	text-align: center;
	font-size: 30px;
}

#stable #sta {
	display: table;
	width: 1250px;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0px;
	padding: 0px;
}

#stable #sta th {
	width: 400px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border: 1px solid #00000020;
	border-top: 2px solid #13669b;
	border-bottom: 1px solid #6d88b7;
	color: #000000;
	background: #f0fdff;
}

#stable #sta td {
	width: 400px;
	padding: 10px;
	vertical-align: top;
	border: 1px solid #00000020;
}


#stable #sta tbody>tr:last-child>td{
	border-bottom: 1px solid #6d88b7;
}

#btable #bta {
	display: table;
	border-collapse: collapse;
	border-spacing: 1px;
	text-align: center;
	line-height: 1.5;
	margin: 80px auto;
}

#btable #bta th {
	width: 155px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border: 1px solid #00000020;
	background: #f0fdff;
}

#btable #bta thead>tr:first-child {
	border-top: 2px solid #13669b;
}

#btable #bta thead>tr:first-child>th:first-child{
	border-bottom: 1px solid #6d88b7;
}

#btable #bta thead>tr:last-child>th {
	border-bottom: 1px solid #6d88b7;
}

#btable #bta tbody>#top:last-child>td {
	border-bottom: 1px solid #6d88b7;
}

#btable #bta td {
	width: 155px;
	padding: 10px;
	vertical-align: top;
	border: 1px solid #00000020;
}

#Ddate {
	text-align: right;
}

#graph {
	width: 1250px;
	margin: 20px auto;
}

#stable {
	position: relative;
}

#stable>div {
	margin: 10px 0px;
	/*position: absolute;*/
	float: right;
	top: -40px;
	right: 0px;
	font-weight : bold;
}

#stable>#sta {
	width: 100%;
	margin: 50px 0px;
}

#graph #update {
	float: right;
}

.tab_basic {
	width: 1250px;
	margin: auto;
}

.tab_list_wrap {
	font-size: 0;
	height: 60px;
	text-align: center;
}

.tab_list {
	display: inline-block;
	width: 33.3334%;
	height: 100%;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #eee;
	border-right: 0;
	box-sizing: border-box;
}

.tab_list:last-child {
	border-right: 1px solid #eee;
}

.tab_list.tab_active {
	background: #07aad6;
}

.tab_list a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 60px;
	text-decoration: none;
	color: #000000;
}

.tab_content {
	display: none;
	width: 100%;
	min-height: 100px;
	padding: 20px;
	background: rgb(255, 255, 255);
	box-sizing: border-box;
}

.tab_content:first-child {
	display: block;
}

h2::before {
    display: inline-block;
    content: '';
    width: 10px;
    height: 20px;
    margin-left: -20px;
    margin-right: 7px;
    background-color: #13669B;
    border-right: 4px solid #0b9bc9;
}

h3::before {
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    margin-left: -16px;
    margin-right: 8px;
    border: 3px solid #0b9bc9;
}