<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<environments default = "development">
		<environment id="development">
			<transactionManager type = "JDBC"/>
			<dataSource type = "POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:XE"/>
				<property name="username" value="HR"/>
				<property name="password" value="1111"/>			
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mybatis/corona.xml"/>
		<mapper resource="mybatis/youtube.xml"/>
		<mapper resource="mybatis/reserve.xml" />
		<mapper resource="mybatis/vCenter.xml"/>
		<mapper resource="mybatis/sanghwal.xml"/>
		<mapper resource="mybatis/hospital.xml"/>
	</mappers>
	
</configuration>
