@charset "UTF-8";

#sang #head{
	border-bottom:2px solid #0b9bc9;
}

#sang #subject{
	font: 13pt;
	text-align: center;
}

#sang #items{
	display:flex;
	flex-wrap: wrap;
	margin-left:90px;
}

#sang .item{
	margin-top:20px;
  margin-right:50px;
}

#sang .item:hover{
	cursor: pointer;
}

#sang #frm_sang{
	width:1100px;
}

#sang #items .photo{
	width:200px;
	height:200px;
}

#sang #nop {
	width:1000px;
	height:600px;
	margin:30px auto;
	text-align:center;
	font-size: 30pt;
}

#btn_zone{
	text-align: center;
}

#find{
	width:1100px;
	height:80px;
	text-align: right;
}

#find #findStr{
	height:30px;
}

#find #btnFind{
	font-size: 13pt;
}

#sang #insert_btn_zone #btnInsert{
	font-size:15pt;
	float: right;
	border:0px;
	color:#0b9bc9;
}

/* 이미지 미리보기 -------------------- */
#image_preview{
	position: relative;	
}
#image_preview img {
	width:150px;
	height:180px;
}

#image_preview #attzone{
	width:800px;
	min-height:130px;
	padding:0;
	border:2px dotted #aaa;
	background-color:rgba(240,240,240,0.3);
}
#image_preview #attzone .item{
	width:130px;
	height:150px;
	margin:5px;
	position: relative;
	display: inline-block;
}

#attzone .del_btn{
	font-size:24pt;
	color:rgb(0, 0, 0);
	right:3px;
	bottom:3px;
	background-color:rgba(255,255,255,.2);
	padding:0;
	border-width:0;
	cursor: pointer;
}



/* 파일 미리보기 */
#att_list .file_zone{
	display: inline-block;
	width:160px;
	position: relative;
}
#att_list .del_file_chk{
	background-color : #fff6;
	bottom: 5px;
	right: 15px;
}