@charset "UTF-8";


/* 게시판 */
#Issue_Board *{
	margin: 0px;
	padding: 0px;
	border: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
	cursor: default;
	vertical-align: top;
	font-size: 13pt;
	font-weight: bold;
	color: #000;
	background-color: #fff;
}

#Issue_Board{
	width: 1100px;
	height: auto;
}

#Issue_Board > #Issue_header{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 40pt;
}

<!--/* 폼1 */-->
#Issue_Board > #Issue_board_frm{
	width: 100%;
	height: 100px;
	border-top: 5px solid #0b9bc9;
	border-bottom: 5px solid #0b9bc9;
	position: relative;
}

#Issue_Board > #Issue_board_frm > #Issue_total{
	width: 150px;
	height: 50%;
	line-height: 41px;
	border: 2px solid #13669b;
	position: absolute;
	top: 50%;
	left: 1%;
	transform: translate(-0%, -50%);
	text-align: center;
}

#Issue_Board > #Issue_board_frm > #Issue_total > span{
	font-weight: bold;
	color: #13669b;
}

#Issue_Board > #Issue_board_frm > #Issue_sort{
	width: 150px;
	height: 50%;
	padding: 10px;
	border: 2px solid #13669b;
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("../image/down.png");
	background-repeat: no-repeat;
	background-position: 90% center;
}

#Issue_Board > #Issue_board_frm > #Issue_searchbox{
	width: 300px;
	height: 50%;
	border: 2px solid #aaa;
	border: 2px solid #13669b;
	position: absolute;
	top: 50%;
	left: 99%;
	transform: translate(-100%, -50%);
	display: flex;
}
#Issue_Board > #Issue_board_frm > #Issue_searchbox > #findstr{
	flex: 1;
	padding: 5px;
}

#Issue_Board > #Issue_board_frm > #Issue_searchbox > #search{
	flex: 1;
	
	border: none;
	background-image: url("../image/search.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#Issue_Board > #Issue_frm{
	width: 100%;
	height: 600px;
	padding: 25px 0px;
}

#Issue_Board > #Issue_frm > .Issue_item, .Issue_items{
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #aaa;
	display: flex;
}

#Issue_Board > #Issue_frm > .Issue_item > span{
	flex: 1;
	line-height: 48px;
	text-align: center;
}

#Issue_Board > #Issue_frm > .Issue_item > span{
	flex: 1;
	line-height: 48px;
	text-align: center;
}

#Issue_Board > #Issue_frm > .Issue_items > span:nth-child(1){
	color: #13669b;
	font-weight: bold;
}

#Issue_Board > #Issue_frm > .Issue_item > span:nth-child(2){
	flex: 5;
}

#Issue_Board > #Issue_frm > .Issue_items > span:nth-child(2){
	flex: 5;
}

#Issue_Board > #Issue_frm > .Issue_item > span:nth-child(3){
	flex: 2;
}

#Issue_Board > #Issue_frm > .Issue_items > span:nth-child(3){
	flex: 2;
}


#Issue_board_frm > #Issue_searchbox > #Issue_findbtn{
  	flex: 1;
	background-image: url("./image/notice_search.png");
	background-repeat: no-repeat;
	background-position: center center;
}

/* 게시판  */
#Issue_frm > .Issue_item {
   width: 100%;
   height: 50px;
   border-bottom: 1px solid #aaa;
   display: flex;
}

#Issue_frm > .Issue_item > span{
   flex: 1;
   line-height: 49px;
   text-align: center;
}


#Issue_frm > .Issue_item > span:nth-child(2){
   flex: 6;
}

#Issue_frm > .Issue_items{
   width: 100%;
   height: 50px;
   border-bottom: 1px solid #aaa;
   display: flex;
}

#Issue_frm > .Issue_items > span{
   flex: 1;
   line-height: 49px;
   text-align: center;
}

#Issue_frm > .Issue_items > span:nth-child(2){
   flex: 6;
}

#Issue_Board > #Issue_footer_frm{
	width: 100%;
	height: 100px;
	position: relative;
}

#Issue_Board > #Issue_footer_frm > #Issue_previous{
	width: 100px;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	display: flex;
}

#Issue_Board > #Issue_footer_frm > #Issue_previous > input:nth-child(1){
	flex: 1;
	background-image: url("../image/left2.png");
	background-repeat: no-repeat;
	background-position: center center;
}


#Issue_Board > #Issue_footer_frm > #Issue_previous > input:nth-child(2){
	flex: 1;
	background-image: url("../image/left1.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#Issue_Board > #Issue_footer_frm > #Issue_center{
	width: auto;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#Issue_Board > #Issue_footer_frm > #Issue_center > input{
	width: 50px;
	height: 100%;
	float: left;
}

#Issue_Board > #Issue_footer_frm > #Issue_next{
	width: 100px;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	display: flex;
}

#Issue_Board > #Issue_footer_frm > #Issue_next > input:nth-child(1){
	flex: 1;
	background-image: url("../image/right1.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#Issue_Board > #Issue_footer_frm > #Issue_next > input:nth-child(2){
	flex: 1;
	background-image: url("../image/right2.png");
	background-repeat: no-repeat;
	background-position: center center;
}

/* 제목 밑 버튼 3개 */

#Issue_menubtn_zone{
   width: 95%;
   height: auto;
   margin: 0px 25px;
   text-align: center;
}

#Issue_menubtn_zone > input{
	width: 200px;
	height: 50px;
	margin-bottom: 20px;
	border: 1px solid #aaa;
}

.btn_issue{
	margin: 0px 20px;
}

.btn_news{
	margin: 0px 20px;
}

.Issue{
	margin: 0px 20px;
}
#search{
	width: 51px;
    height: 100%;
    border: 1px solid black;  /*  임시로 검색하기위해 만든 성원씨의 작품 */
}

#Issue_Board > #CreateM{
   width: 100%;
   height: 26px;
   position: relative;
}

#Issue_Board > #CreateM > #Create{
   width: 100px;
   height: 200%;
   position: absolute;
   top: -118%;
   left: 97%;
   transform: translate(-100%, -0%);
   background-color: rgba(170, 170, 170, 0.5);
}
}