
/* 게시판 상세보기 */

#View{
	width: 1400px;
	height: auto;
	margin:0px auto;
}

#View > #View_header{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: left;
	font-size: 40pt;
}

#View > #View_frm{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

<!--/* 폼1 */-->
#View > #View_frm > #View_section1{
	width: 100%;
	height: 100px;
	border-top: 2px solid #aaa;
	border-bottom: 0.5px solid #aaa;
	box-sizing: border-box;
	position: relative;
}

#View > #View_frm > #View_section1 > #View_title{
	width: 100%;
	height: 50%;
	position: absolute;
	top: 50%;
	font-size: 18pt;
	left: 0%;
	transform: translate(-0%, -50%);
}
<!--/* 폼1 */-->

<!--/* 폼2 */-->
#View > #View_frm > #View_section2{
	width: 100%;
	height: 60px;
	border-top: 0.5px solid #aaa;
	border-bottom: 2px solid #aaa;
	box-sizing: border-box;
	position: relative;
}

#View > #View_frm > #View_section2 > #View_id{
	width: auto;
	height: 50%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-0%, -50%);
}

#View > #View_frm > #View_section2 > output{
	width: 50px;
	height: 50%;
	line-height: 28.5px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 209px;
	transform: translate(-0%, -50%);
}

#View > #View_frm > #View_section2 > #View_date{
	width: auto;
	height: 50%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 350px;
	transform: translate(-0%, -50%);
}
<!--/* 폼2 */-->

<!--/* 폼3 */-->
#View #View_frm #View_section3{
	width: 1400px;
	margin: 25px auto;
	padding: 10px;
	border-top: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	box-sizing: border-box;
}
<!--/* 폼3 */-->

#View > #View_back{
	width: 100%;
	height: 100px;
	position: relative;
}

#View > #View_back > #View_backbtn{
	width: 100px;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #666572;
	color: #fff;
	outline: none;
	border: none;
}
/* 게시판 상세보기 */